* {
  font-family: Barlow;
  font-style: normal;
}
.blue {
  background: #0066ff;
}
.bbest-abrir-conta-header p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000099;
}
.bbest-abrir-conta-header h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 56px;
  color: #000099;
}

.bbest-abrir-conta-card-body h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000099;
}

.bbest-abrir-conta-card-body h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  margin-top: 23px;
  color: #000099;
  max-width: 292px;
  min-height: 128px;
}

.cta-bbest-descaregar-app {
  background: #ffffff !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000099 !important;
}

.cta-bbest-descaregar-app:hover {
  background: #000099;
  color: #ffffff;
}

.cta-bbest-abrir-conta-app {
  background: #0066ff;
}

.bbest-abrir-conta {
  position: relative;
  margin-top: 149px;
}

.bbest-abrir-conta-header {
  text-align: center;
  max-width: 823px;
  margin: 0 auto;
}

.bbest-abrir-conta-content {
  margin-top: 130px;
}

.bbest-abrir-conta-content .content {
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  border-radius: 20px;
  height: 392px;
  overflow: hidden;
  border: 1px solid #dfeaf2;
  display: flex;
  justify-content: space-between;
}

.bbest-abrir-conta-card-body {
  padding: 40px 10px 40px 30px;
  width: 55%;
}

.bbest-abrir-conta-card-img {
  width: 45%;
}
.bbest-abrir-conta-card-img-app {
  width: 45%;
}

.bbest-abrir-conta-card-img-app img {
  position: absolute;
  margin-top: -120px;
  margin-left: -109px;
}

.bbest-abrir-conta-content .content .bbest-cta-group {
  margin-top: 40px;
}

.bbest-abrir-conta-content .content .bbest-cta-group .btn {
  padding: 20px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 33px;
}
.cta-bbest-abrir-conta-app:hover {
  color: #000099;
  background: #ffffff;
}

.abrir-contas-ag {
  margin-top: 79px !important;
}

@media (max-width: 1400.98px) {
  .bbest-content-bea .content {
    max-width: 100%;
  }
  .bbest-abrir-conta-content
    .content
    .bbest-cta-group
    .cta-bbest-abrir-conta-app {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 29px;
  }
  .bbest-cta-group .bbest-descaregar-app {
    padding: 20px 45px;
  }
}

@media (max-width: 991.98px) {
  .bbest-abrir-conta-card-img {
    height: 100% !important;
  }

  .bbest-abrir-conta-content {
    margin-top: 96px;
  }

  .bbest-abrir-conta {
    position: relative;
    margin-top: 111px;
  }
  .bbest-abrir-conta {
    margin-top: 130px;
  }
  .bbest-abrir-conta-content .content {
    display: flex;
    flex-direction: column-reverse;
    height: 531px;
  }
  .bbest-abrir-conta-card-body {
    max-height: 268px;
  }
  .bbest-abrir-conta-card-body h2 {
    max-width: 100%;
    margin: 0;
    min-height: auto;
  }
  .bbest-abrir-conta-card-img-app {
    height: 230px;
    overflow: hidden;
    width: 100%;
  }
  .bbest-abrir-conta-card-img-app img {
    width: 100%;
    max-width: 350px;
    margin-left: 0px;
    margin-top: -100px;
  }
  .bbest-abrir-conta-card-img {
    height: 230px;
    overflow: hidden;
    width: 100%;
  }
  .bbest-abrir-conta-card-img img {
    width: 100%;
  }
  .bbest-abrir-conta-content .blue {
    margin-bottom: 44px;
  }
  .bbest-abrir-conta-card-body {
    padding: 40px;
    width: 100%;
  }
  .bbest-abrir-conta-card-img-app {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .bbest-abrir-conta-card-body h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .bbest-abrir-conta-header p {
    font-size: 16px;
    line-height: 22px;
  }
  .bbest-abrir-conta-header h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .bbest-abrir-conta-content {
    margin-top: 96px;
  }
}

@media (max-width: 575.98px) {
  .bbest-abrir-conta-card-body h2 {
    min-height: 70px;
  }

  .bbest-abrir-conta-content .content {
    display: flex;
    flex-direction: column-reverse;
    height: 500px !important;
  }

  .bbest-abrir-conta-card-body {
    padding: 31px !important;
  }

  .bbest-abrir-conta-card-img-app img {
    width: 100%;
    max-width: 297px;
    margin-left: 0px;
    margin-top: -86px;
  }
}

@media (max-width: 400.98px) {
  .bbest-abrir-conta-card-body h2 {
    min-height: 113px;
  }
  .bbest-abrir-conta-content .content .bbest-cta-group {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .bbest-abrir-conta-card-body {
    padding: 12px !important;
  }

  .bbest-abrir-conta-content .content {
    height: 392px;
  }

  .bbest-abrir-conta-card-img-app img {
    width: 100%;
    max-width: 289px;
  }
}